In [36]:
import pandas as pd
import re

In [37]:
df_stops = pd.read_csv("1967-stops-localised-final.csv")

In [38]:
df_stops.drop(['Column'], axis=1, inplace=True)
df_stops['stop_name'] = df_stops['stop_name'].astype(str).str.strip()
df_stops['location'] = df_stops['location'].astype(str).str.strip()

In [39]:
df_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   stop_name          1370 non-null   object
 1   type               1370 non-null   object
 2   in_lines           1370 non-null   object
 3   location           1370 non-null   object
 4   identifier         360 non-null    object
 5   previous_in_lines  981 non-null    object
 6   stop_description   722 non-null    object
dtypes: object(7)
memory usage: 75.1+ KB

In [40]:
split_df = pd.concat([df_stops[col].astype(str).str.split(';', expand=True).stack().str.strip() for col in df_stops.columns], axis=1, keys=df_stops.columns)
df_stops = split_df.groupby(level=0).ffill().reset_index(drop=True)

In [41]:
df_stops = df_stops.fillna('').groupby(['stop_name', 'type', 'location']).agg({
    'in_lines': ', '.join,
    'identifier': ', '.join
}).reset_index()

# Reset the index
df_stops.reset_index(inplace=True)
df_stops.rename(columns={'index': 'stop_id'}, inplace=True)

df_stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stop_id     1372 non-null   int64
 1   stop_name   1372 non-null   object
 2   type        1372 non-null   object
 3   location    1372 non-null   object
 4   in_lines    1372 non-null   object
 5   identifier  1372 non-null   object
dtypes: int64(1), object(5)
memory usage: 64.4+ KB

In [42]:
df_line = pd.read_csv("line_data_1967.csv")

In [43]:
for index, row in df_line.iterrows():
    # Check if the regex pattern (lowercase 's' or 'x' at the end) is found in the "in_lines" column
    if re.search(r'[sx]$', row["line_name"].lower()):
        # Delete the section called for in the regex
        df_line.at[index, "line_name"] = re.sub(r'[sx]$', '', row["line_name"])

In [44]:
# Replace U+00a0 with regular whitespace in the entire DataFrame
df_line.replace('\u00a0', ' ', regex=True, inplace=True)

In [45]:
df_line.head(2)

,line_name,Stops,Frequency,Length (time),type,east-west,year
0,3,Revalerstrasse - Warschauer Strasse - Holteist...,15.0,42.0,strassenbahn,Ost,1967
1,4,Markusstrasse - Ostbahnhof - Mühlenstrasse - R...,8.0,36.0,strassenbahn,Ost,1967

In [46]:
# Assuming df is your DataFrame and 'stop_id' is the column you want to modify
df_stops['stop_id'] = '1967' + df_stops['stop_id'].astype(str)
df_stops.head(2)

,stop_id,stop_name,type,location,in_lines,identifier
0,19670,4. Ring,bus,"52.42250630689789, 13.2869490566549",['A53'],nan
1,19671,Aalemannufer Ecke Nieder-Neuendorfer Allee,bus,"52.57329463126187, 13.21256579715856",['A97'],nan

In [47]:
df_line['line_name'] = df_line['line_name'].astype(str).str.strip()
df_line['Stops'] = df_line['Stops'].astype(str).str.strip()
df_line['year'] = df_line['year'].astype(int)
df_line['Frequency'] = pd.to_numeric(df_line['Frequency'], errors='coerce').fillna(0).astype(int)
df_line['Length (time)'] = pd.to_numeric(df_line['Length (time)'], errors='coerce').fillna(0).astype(int)

In [48]:
# Define a function to remove leftover parentheses from a column
def remove_double_whitespace(text):
    text = text.replace("   ", " ")
    text = text.replace("  ", " ")
    text = text.replace("–", "-")
    text = text.replace(" - ", " - ")
    return text

# Apply the function to the 'line_stops' column
df_line['Stops'] = df_line['Stops'].apply(remove_double_whitespace)
df_line['Stops'] = df_line['Stops'].str.replace(r'\s*–\s*', ' - ', regex=True)

In [49]:
mask = df_line['Stops'].str.contains(" - ").fillna(True)
none_df = df_line[~mask]
none_df

Empty DataFrame
Columns: [line_name, Stops, Frequency, Length (time), type, east-west, year]
Index: []

In [50]:
# Filter rows where 'line_stops' is not a string
non_string_rows = df_line[~df_line['Stops'].apply(lambda x: isinstance(x, str))]
non_string_rows

Empty DataFrame
Columns: [line_name, Stops, Frequency, Length (time), type, east-west, year]
Index: []

In [51]:
### Creating related tables

In [52]:
def extract_first_start_stop(string):
    stations = string.split(" - ")
    first_station = stations[0]
    last_station = stations[-1]
    return f"{first_station}<> {last_station}"

In [53]:
def create_line_df(df):
    line_df = pd.DataFrame({
        'line_id': range(1, 1+len(df)),
        'year': df['year'],
        'line_name': df['line_name'],
        'type': df["type"],
        "start_stop": df['Stops'].apply(extract_first_start_stop),
        "Length (time)": df['Length (time)'],
        "east_west": df['east-west'],
        "Frequency": df['Frequency']
    })
    return line_df

In [54]:
line_df = create_line_df(df_line)

In [55]:
line_df.head(2)

,line_id,year,line_name,type,start_stop,Length (time),east_west,Frequency
0,1,1967,3,strassenbahn,Revalerstrasse<> Björnsonstrasse,42,Ost,15
1,2,1967,4,strassenbahn,Markusstrasse<> Eberswalderstrasse Ecke Oderbe...,36,Ost,8

In [56]:
# Assuming df is your DataFrame and 'stop_id' is the column you want to modify
line_df['line_id'] = '1967' + line_df['line_id'].astype(str)
line_df.head(2)

,line_id,year,line_name,type,start_stop,Length (time),east_west,Frequency
0,19671,1967,3,strassenbahn,Revalerstrasse<> Björnsonstrasse,42,Ost,15
1,19672,1967,4,strassenbahn,Markusstrasse<> Eberswalderstrasse Ecke Oderbe...,36,Ost,8

In [57]:
def create_line_stops_df(df):
    line_stops = df['Stops'].str.split(' - ', expand=True).stack().reset_index(level=1, drop=True).reset_index(name='stop_name')

    line_stops['stop_order'] = line_stops.groupby('index').cumcount()
    #index starts from 0 so it looks like 1 row is missing but this is not true

    # Clean the 'Stop Name' column by removing whitespace and non-breaking spaces
    line_stops['stop_name'] = line_stops['stop_name'].str.replace(u'\xa0', ' ').str.strip()

    # reset index so that it can be used for foreign key

    return line_stops

In [58]:
line_stops_df = create_line_stops_df(df_line)

In [59]:
for index, row in line_stops_df.iterrows():
    line_stops_df.at[index, "index"] = row["index"] + 1
line_stops_df.rename(columns={'index': 'line_id'}, inplace=True)

line_stops_df

      line_id                                stop_name  stop_order
0           1                           Revalerstrasse           0
1           1                       Warschauer Strasse           1
2           1     Holteistrasse Ecke Boxhagenerstrasse           2
3           1                   Bhf. Frankfurter Allee           3
4           1                              Roederplatz           4
...       ...                                      ...         ...
1964      176                          Herzbergstrasse           9
1965      176                              Roederplatz          10
1966      176                               Steuerhaus          11
1967      176  Dimitroffstrasse Ecke Landsberger Allee          12
1968      176                          Kniprodestrasse          13

[1969 rows x 3 columns]

In [60]:
# Assuming df is your DataFrame and 'stop_id' is the column you want to modify
line_stops_df['line_id'] = '1967' + line_stops_df['line_id'].astype(str)
line_stops_df.head(2)

  line_id           stop_name  stop_order
0   19671      Revalerstrasse           0
1   19671  Warschauer Strasse           1

In [61]:
# get a list of unique Line IDs in the line_stops DataFrame
line_ids = line_stops_df['line_id'].unique()

# loop through each unique Line ID
for line_id in line_ids:
    # get the first and last Stop Name for this Line ID
    first_stop_name = line_stops_df.loc[line_stops_df['line_id'] == line_id, 'stop_name'].iloc[0]
    last_stop_name = line_stops_df.loc[line_stops_df['line_id'] == line_id, 'stop_name'].iloc[-1]
    
    # get the corresponding Start-Stop value from line_df for this Line ID
    start_stop = line_df.loc[line_df['line_id'] == line_id, 'start_stop'].iloc[0]
    
    # check if the first and last Stop Names are contained in the Start-Stop value
    if first_stop_name not in start_stop or last_stop_name not in start_stop:
        print(f"Quality control check failed for line_id {line_id}.")

# I checked that this works using the following code:
# line_stops_df.loc[0, "stop_name"] = "test"
# and got the right result: Quality control check failed for line_id 1001.

In [62]:
line_df.head(3)

,line_id,year,line_name,type,start_stop,Length (time),east_west,Frequency
0,19671,1967,3,strassenbahn,Revalerstrasse<> Björnsonstrasse,42,Ost,15
1,19672,1967,4,strassenbahn,Markusstrasse<> Eberswalderstrasse Ecke Oderbe...,36,Ost,8
2,19673,1967,13,strassenbahn,Hönower Wiesenweg Ecke Blockdammweg<> Oderberg...,42,Ost,8

In [63]:
def add_type(line_stops, line_df):
    # Assuming line_id is the common column between line_stops and line_df
    merged_df = pd.merge(line_stops, line_df[['line_id', 'type', "line_name"]], on='line_id', how='left')
    
    # Rename the 'type' column from line_df to 'type_from_line_df' to avoid conflicts
    merged_df.rename(columns={'type': 'type'}, inplace=True)
    
    # Drop the 'type_from_line_df' column if it's not needed in the final result
    # merged_df.drop(columns=['type_from_line_df'], inplace=True)
    
    return merged_df

In [64]:
line_stops_df = add_type(line_stops_df, line_df)

In [65]:
def add_fk(line_stops_df, df_stops):
    # Create a new dataframe with the Stop Name and Stop ID columns
    stop_id_df = df_stops[['stop_name', 'stop_id', 'type', 'in_lines']]

    # Merge the line_stops_df and stop_id_df dataframes based on matching stop names and line_name condition
    line_stops_df = line_stops_df.merge(stop_id_df,
                                        left_on=['stop_name', 'type'],
                                        right_on=['stop_name', 'type'],
                                        how='left')

    # Filter the rows based on the condition that line_name is contained in in_lines
    line_stops_df = line_stops_df[line_stops_df.apply(lambda row: str(row['line_name']) in str(row['in_lines']), axis=1)]

    return line_stops_df

# Assuming line_stops_df and df_stops are your dataframes
# Replace 'stop_name', 'stop_id', 'type', and 'in_lines' with the actual column names you have

line_stops_df = add_fk(line_stops_df, df_stops)

In [66]:
# Calculate the difference between consecutive 'stop_order' values
line_stops_df['diff'] = line_stops_df['stop_order'].diff()

# Use the following line to drop rows where the 'diff' column is 0.0
line_stops_df = line_stops_df[line_stops_df['diff'] != 0.0]

# Identify faulty rows where the difference is not 1 digit behind
faulty_rows = line_stops_df[(line_stops_df['diff'] != 1) & (line_stops_df['stop_order'] != 0)]
faulty_rows

Empty DataFrame
Columns: [line_id, stop_name, stop_order, type, line_name, stop_id, in_lines, diff]
Index: []

In [67]:
faulty_rows.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   line_id     0 non-null      object
 1   stop_name   0 non-null      object
 2   stop_order  0 non-null      int64
 3   type        0 non-null      object
 4   line_name   0 non-null      object
 5   stop_id     0 non-null      object
 6   in_lines    0 non-null      object
 7   diff        0 non-null      float64
dtypes: float64(1), int64(1), object(6)
memory usage: 0.0+ bytes

In [68]:
# convert 'Stop ID' column to numeric values, coercing errors to NaN
line_stops_df['stop_id'] = pd.to_numeric(line_stops_df['stop_id'], errors='coerce')

# check if all values in 'Stop ID' column are numeric
if line_stops_df['stop_id'].notnull().all():
    print("All values in 'stop_id' column are numeric")
else:
    print("There are non-numeric values in 'stop_id' column")
    print(line_stops_df[line_stops_df['stop_id'].isnull()])

All values in 'stop_id' column are numeric

In [69]:
line_stops_df.drop(['line_name', "in_lines", "type", "diff"], axis=1, inplace=True)

In [70]:
line_stops_df.to_csv("line_stops_1967-final.csv")
line_df.to_csv("line_df_1967-final.csv")
df_stops.to_csv("stops_df_1967-final.csv")